:root {
    --main-color: black;
    --color-B: darkblue;
    --color-R: darkred;
    --letters: white;
    --font: 'Zen Kurenaido', sans-serif;
}

body {
    display: block;
    margin: 0 auto;
    max-width: 840px;
    background-color: var(--main-color);
    color: var(--letters);
    text-align: center;
    font-family: var(--font)
}

main {
    font: var(--font);
    padding-top: 80px;
}

.bar {
    display: flex;
    flex-flow: row;
    font-family: var(--font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--main-color);
}

h1 {
    border: 1px solid var(--letters);
    width: 33%;
    height: 50px;
    font-size: 26px;
}

h2 {
    width: 50%;
    margin: 15px auto;
}

.b {
    background-color: var(--color-B);
}

.r {
    background-color: var(--color-R);
}

a {
    text-decoration: none;
    color: var(--letters);
}

header a {
    text-decoration: none;
    color: var(--letters);
}

.box {
    border: 1px solid var(--letters);
    background-color: var(--color-R);
}

img {
    width: 50%;
    height: auto;
}

.list {
    display: flex;
    flex-flow: row;
}

.list img {
    width: 50%;
    margin: 15px;
}

.list p {
    background-color: var(--color-R);
    margin: 15px;
    width: 30%;
}

@media (min-width: 37.5em) {
	
   .list p {
    height: 100px;
    width: auto;
   }

   .long p {
    height: 200px;
    transform: translateY(-15%);
   }

   .down img {
    transform: translateY(-25%);
   }

   footer {
    transform: translateY(-180%);
   }
}