@media (min-width: 37.5em) {
	
    header {
        display: block;
    }

    .weather {
        display: none;
    }

    .hero img {
        position: relative;
        width: 70vw;
        height: auto;
        margin: 0 auto;
        margin-left: 15%;
    }

    .first, .second {
        position: absolute;
        border: 1px solid black;
    }

    .first {
        top: 5%;
        left: 2%;
    }

    .second {
        bottom: 50%;
        right: 2%;
    }

    h2 {
        background-color: black;
        color: white;
    }

    .second h2::after {
        content: "☁️";
    }
}

@media (min-width: 75em) {

    .first {
        top: 15%;
        left: 8%;
    }

    .second {
        bottom: 15%;
        right: 8%;
    }
}