@media (min-width: 37.5em) {
	
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}


	#menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}